.container .places h1 {
    z-index: -1;
    font-size: 30px;
    text-indent: 20px;
}

.container .places .flex-places {
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .places .flex-places article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.container .places .flex-places article h2 {
    font-size: 30px;
    text-align: center;
}
